body {
    margin:0;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height:120px;
    display:flex;
    justify-content: space-between;
}

#titre {
    font-family: 'Crete Round';
    font-size: 40px;
    font-weight: bold;
    margin:auto 100px;
}

header > nav {
    display:flex;
    margin:auto 200px auto 0px;
}

header > nav > li {
    list-style-type: none;
    padding:0px 10px;
}

header > nav > li > a {
    font-weight: bold;
    text-decoration: none;
    color:#000;
}

header > nav > li > a:visited {
    color:#000;
}

.orange {
    color:orangered;
}

#grande-image {
    display:flex;
    height:580px;
    background: url('24.3 main.jpg.jpg') center;
    text-align: center;
}

#grande-image > div {
    margin:auto;
    font-size:45px;
    color:#444;
}

#grande-image > div > a {
    font-size:30px;
    color:#FFF;
    background-color: orangered;
    padding:20px;
    border-radius: 10px;
    text-decoration: none;
}